## Programmatically download and combine the flight data
Author: Devin McCormack

Datasource:http://stat-computing.org/dataexpo/2009/the-data.html
The data set which contains information on United State flight delays and performance comes from RITA. You can download the data directly from RITA or as zipped csv files from the Flights link. The files on the Flights link are organized by year and are more compressed than the originals.  Additional details about the data can be found at here.

This data will be used to answer the question: "When and Where should I take my next 4-day weekend to minimize flight delays?" I will restrict home location to the three bay area airports (SFO, OAK, and SJC), and the vacation locations to L.A. (only LAX airport), San Diego (SAN), Portland (PDX), Seattle (SEA), Las Vegas (LAS), and Denver (DEN).

The data will be restricted to flights leaving the Bay area airports on a Friday, and returning to them on a Monday.

In [1]:
import requests
import os
import pandas as pd
import glob

In [2]:
download=0
if download==1:
    baseurl='http://stat-computing.org/dataexpo/2009/'
    year=range(2005,2009)
    filetype='.csv.bz2'
    for y in year:
        url=baseurl+str(y)+filetype
        print(url)
        response=requests.get(url)
        with open(url.split('/')[-1],mode='wb') as file:
            file.write(response.content)
else:
    print('files already downloaded')

http://stat-computing.org/dataexpo/2009/2005.csv.bz2
http://stat-computing.org/dataexpo/2009/2006.csv.bz2
http://stat-computing.org/dataexpo/2009/2007.csv.bz2
http://stat-computing.org/dataexpo/2009/2008.csv.bz2

In [3]:

path =os.getcwd()
all_files=glob.glob(os.path.join(path, "200*.csv.bz2"))
df = pd.concat((pd.read_csv(f,encoding='latin-1') for f in all_files),ignore_index=True)

In [4]:
df.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2005,1,28,5,1603.0,1605,1741.0,1759,UA,541,...,4.0,23.0,0,NaN,0,0.0,0.0,0.0,0.0,0.0
1,2005,1,29,6,1559.0,1605,1736.0,1759,UA,541,...,6.0,15.0,0,NaN,0,0.0,0.0,0.0,0.0,0.0
2,2005,1,30,7,1603.0,1610,1741.0,1805,UA,541,...,9.0,18.0,0,NaN,0,0.0,0.0,0.0,0.0,0.0
3,2005,1,31,1,1556.0,1605,1726.0,1759,UA,541,...,11.0,10.0,0,NaN,0,0.0,0.0,0.0,0.0,0.0
4,2005,1,2,7,1934.0,1900,2235.0,2232,UA,542,...,5.0,10.0,0,NaN,0,0.0,0.0,0.0,0.0,0.0

In [5]:
df['date']=pd.to_datetime(df.Year*10000+df.Month*100+df.DayofMonth,format='%Y%m%d')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28745461 entries, 0 to 28745460
Data columns (total 30 columns):
Year                 int64
Month                int64
DayofMonth           int64
DayOfWeek            int64
DepTime              float64
CRSDepTime           int64
ArrTime              float64
CRSArrTime           int64
UniqueCarrier        object
FlightNum            int64
TailNum              object
ActualElapsedTime    float64
CRSElapsedTime       float64
AirTime              float64
ArrDelay             float64
DepDelay             float64
Origin               object
Dest                 object
Distance             int64
TaxiIn               float64
TaxiOut              float64
Cancelled            int64
CancellationCode     object
Diverted             int64
CarrierDelay         float64
WeatherDelay         float64
NASDelay             float64
SecurityDelay        float64
LateAircraftDelay    float64
date                 datetime64[ns]
dtypes: datetime64[ns](1), float64(14), int64(10), object(5)
memory usage: 6.4+ GB

In [7]:
df.describe()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,FlightNum,ActualElapsedTime,...,Distance,TaxiIn,TaxiOut,Cancelled,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
count,2.874546e+07,2.874546e+07,2.874546e+07,2.874546e+07,2.819280e+07,2.874546e+07,2.813001e+07,2.874546e+07,2.874546e+07,2.812696e+07,...,2.874546e+07,2.859381e+07,2.860840e+07,2.874546e+07,2.874546e+07,2.326047e+07,2.326047e+07,2.326047e+07,2.326047e+07,2.326047e+07
mean,2.006499e+03,6.484321e+00,1.572595e+01,3.938134e+00,1.339519e+03,1.331739e+03,1.485413e+03,1.496446e+03,2.160443e+03,1.261049e+02,...,7.244232e+02,7.043702e+00,1.598196e+01,1.926725e-02,2.249329e-03,4.236967e+00,8.572914e-01,4.472359e+00,2.810081e-02,5.506278e+00
std,1.111091e+00,3.417658e+00,8.787606e+00,1.990655e+00,4.778368e+02,4.639745e+02,5.034113e+02,4.808414e+02,1.943519e+03,7.088660e+01,...,5.675240e+02,2.711206e+01,1.131661e+01,1.374628e-01,4.737372e-02,2.140553e+01,9.915769e+00,1.744351e+01,1.192442e+00,2.184749e+01
min,2.005000e+03,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,-6.600000e+01,...,1.100000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,-4.900000e+01,0.000000e+00,0.000000e+00
25%,2.006000e+03,4.000000e+00,8.000000e+00,2.000000e+00,9.300000e+02,9.300000e+02,1.109000e+03,1.115000e+03,5.940000e+02,7.500000e+01,...,3.190000e+02,4.000000e+00,1.000000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,2.007000e+03,6.000000e+00,1.600000e+01,4.000000e+00,1.329000e+03,1.325000e+03,1.515000e+03,1.520000e+03,1.503000e+03,1.080000e+02,...,5.700000e+02,5.000000e+00,1.300000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,2.007000e+03,9.000000e+00,2.300000e+01,6.000000e+00,1.732000e+03,1.720000e+03,1.911000e+03,1.908000e+03,3.415000e+03,1.560000e+02,...,9.510000e+02,8.000000e+00,1.900000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
max,2.008000e+03,1.200000e+01,3.100000e+01,7.000000e+00,2.930000e+03,2.359000e+03,2.955000e+03,2.400000e+03,9.743000e+03,1.879000e+03,...,4.962000e+03,1.523000e+03,1.339000e+03,1.000000e+00,1.000000e+00,2.580000e+03,1.510000e+03,1.392000e+03,3.920000e+02,1.366000e+03

In [8]:
dropcols=['Year','Month','DayofMonth','CRSDepTime','CRSArrTime','CRSElapsedTime']
df.drop(dropcols,axis=1,inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28745461 entries, 0 to 28745460
Data columns (total 24 columns):
DayOfWeek            int64
DepTime              float64
ArrTime              float64
UniqueCarrier        object
FlightNum            int64
TailNum              object
ActualElapsedTime    float64
AirTime              float64
ArrDelay             float64
DepDelay             float64
Origin               object
Dest                 object
Distance             int64
TaxiIn               float64
TaxiOut              float64
Cancelled            int64
CancellationCode     object
Diverted             int64
CarrierDelay         float64
WeatherDelay         float64
NASDelay             float64
SecurityDelay        float64
LateAircraftDelay    float64
date                 datetime64[ns]
dtypes: datetime64[ns](1), float64(13), int64(5), object(5)
memory usage: 5.1+ GB

In [9]:
df.Origin.value_counts()

ATL    1670013
ORD    1437608
DFW    1187467
LAX     917857
DEN     897696
IAH     821666
PHX     800051
LAS     708811
EWR     606545
DTW     604014
SLC     589490
MSP     550026
SFO     539895
CVG     537099
BOS     505291
MCO     498301
LGA     497023
CLT     485118
JFK     457490
PHL     439304
SEA     432323
BWI     427832
IAD     385431
MDW     377672
DCA     375923
SAN     373142
CLE     319699
TPA     313430
OAK     282648
FLL     274527
        ...
DLG        745
LWB        744
TEX        683
SUX        656
HKY        648
CMX        627
ALO        623
VCT        518
OTH        515
LMT        511
PIE        467
VIS        455
RHI        444
ADK        411
MKG        396
GST        348
SOP        319
INL        290
BJI        202
ITH        132
MTH        128
EAU         72
PIR          9
CKB          2
PUB          2
GLH          2
MKC          1
CYS          1
PVU          1
OGD          1
Name: Origin, Length: 321, dtype: int64

In [21]:
bayorigin=df.Origin.isin(['SFO','SJC','OAK'])
vacaydest=df.Dest.isin(['LAX','SAN','PDX','SEA','LAS','DEN'])

vacayorigin=df.Origin.isin(['LAX','SAN','PDX','SEA','LAS','DEN'])
baydest=df.Dest.isin(['SFO','SJC','OAK'])

leaveday=df.DayOfWeek==5
returnday=df.DayOfWeek==1

In [22]:
bayarea=df[(bayorigin&vacaydest&leaveday)|(vacayorigin&baydest&returnday)]

In [23]:
bayarea.count()

DayOfWeek            115016
DepTime              113372
ArrTime              113283
UniqueCarrier        115016
FlightNum            115016
TailNum              114635
ActualElapsedTime    113273
AirTime              113273
ArrDelay             113273
DepDelay             113372
Origin               115016
Dest                 115016
Distance             115016
TaxiIn               114470
TaxiOut              114482
Cancelled            115016
CancellationCode       1645
Diverted             115016
CarrierDelay          92395
WeatherDelay          92395
NASDelay              92395
SecurityDelay         92395
LateAircraftDelay     92395
date                 115016
dtype: int64

In [25]:
bayarea.Dest.value_counts()

SFO    21277
OAK    18938
LAX    18132
SJC    17511
SAN    10268
LAS     9095
SEA     8329
DEN     6247
PDX     5219
Name: Dest, dtype: int64

In [26]:
bayarea.Origin.value_counts()

SFO    20896
OAK    18768
LAX    18073
SJC    17626
SAN    10502
LAS     9159
SEA     8299
DEN     6455
PDX     5238
Name: Origin, dtype: int64

In [27]:
bayarea.DayOfWeek.value_counts()

1    57726
5    57290
Name: DayOfWeek, dtype: int64

In [45]:
bayarea[bayarea.DayOfWeek==5].Dest.value_counts()

LAX    18132
SAN    10268
LAS     9095
SEA     8329
DEN     6247
PDX     5219
Name: Dest, dtype: int64

In [52]:
bayarea[(bayarea.Origin=='SJC')].Origin.value_counts()

SJC    17626
Name: Origin, dtype: int64

In [54]:
bayarea.Distance.value_counts()

337    24231
308    11974
446     7648
417     7513
414     7089
407     6421
679     6401
967     6223
671     6092
447     5609
386     4744
697     4135
550     3698
948     3646
543     3634
569     3125
957     2833
Name: Distance, dtype: int64

In [59]:
bayarea[bayarea.Distance==337].Dest.value_counts()

LAX    12127
SFO     6552
OAK     5552
Name: Dest, dtype: int64

Note that Oakland and SFO are equidistant to LAX.

In [62]:
df.to_csv('full2005to2008flightset.csv.bz2',index=False,compression='bz2')

In [58]:
bayarea.to_csv('bayareavacation2005-2008_flightset.csv',index=False)